
.app-about-me{
    display: grid;
    grid-template-rows: 5fr 2.5fr .5fr;
    position: relative;
    width: 100%;
    max-height: 500px;
    margin-top: 20px;
    font-family: sans-serif;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 20%);
 

}

.banner{
    overflow: hidden;
    position: relative;
    
}

.banner > img {

    width: 100%;
    height: auto; 
    object-fit: fill;

}

.banner > fa-icon{

    position: absolute;
    margin-top: 1%;
    right: 1%;
    color: rgb(175, 175, 175);
    cursor: pointer;
    cursor: hand;

}


.about-me-container{

    display: flex;
    margin-top: 2%;

}


.header-about{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-left: 2%;
    padding-right: 2%;

}

.header-about > fa-icon{

    align-self: flex-start;

}


.card-avatar{
   
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    overflow: hidden;
}


.card-avatar > img{
    width: 100%;
    height: 100%;
    
}

.container-avatar{
    position: absolute;
    top: -120px;
    left: 4%;
    position: absolute;
}

.edit-avatar{

    position: absolute;
    right: 0px;
    bottom: 0px;
    color: rgb(175, 175, 175);
    cursor: pointer;
    cursor: hand;

}

.profile{
    margin-left: 4%;
    padding-right: 2%;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;


}

.profile > ul > li{

    list-style: none;
    font-size: 20px;

}


.about-me{

    grid-column: 1 span;
    margin-left: 0%;
    width: 60%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
 
}

.about-me > span{

    font-size: 20px;
    font-weight: 600;

}

.about-me > p {

    margin-top: 2%;
    font-size: 16px;

}

.profile > div > .name{

    font-size: 20px;
    font-weight: 600;

}


.profile > div > .title{

    font-size: 16px;
}

.profile > div > .location{
    margin-top: 10px;
    font-size: 16px; 


}

app-button{

    margin-left: 4%;

}
