
.aboutme{
    display: grid;
    grid-template-rows: 60% 40%;
    max-height: 500px;
    position: relative;
    width: 100%;
    margin-top: 20px;
  /* hand this with jquery */
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 20%);
 

}

.banner{
    overflow: hidden;
    
}

.banner > img {

    width: 100%;
    height: 100%; 
    object-fit: fill;

}

.about-me-container{

    display: flex;
    margin-top: 2%;

}


.header-about{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-left: 2%;
    padding-right: 2%;

}

.header-about > fa-icon{

    align-self: flex-start;

}


.profile-image{
    position: absolute;
    top: -120px;
    left: 4%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    overflow: hidden;
}


.profile-image > img{
    width: 100%;
    height: 100%;
    
}

.profile{
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;


}

.profile > ul > li{

    list-style: none;
    font-size: 20px;

}


.about-me{

    grid-column: 2/-1;
    margin-left: 5%;
    width: 60%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
 
}

.profile > ul > li > .name{

    font-size: 25px;

}


.profile > ul > li > .title{

    font-weight: bold;
}

.profile > ul > li > .location{

    font-size: 12px; 


}
