<app-skeleton *ngIf="isLoading$ | async"></app-skeleton>
<section *ngIf="!(isLoading$ | async)" class="app-about-me">  <!-- About Me -->


    <div class="banner">
        <img [src]=" aboutMe?.banner || '/assets/banner.png'" alt="">
        <fa-icon  *ngIf='(logged$ | async).username === profileActived' [icon]="faCamera" size="2x" (click)="changePic('banner')"></fa-icon>
    </div>
    
    <div class="about">
        <div>
            <div class="header-about">
                <div class="container-avatar">
                    <div class="card-avatar">
                        <img [src]=" aboutMe?.profile || '/assets/nonAvatar.png'" alt=""> 
                    </div>
                    <fa-icon *ngIf="(logged$ | async).username === profileActived" class="edit-avatar" [icon]="faCamera" size="2x" (click)="changePic('profile')"></fa-icon>
                </div>
                <fa-icon [ngStyle]="{'visibility': (logged$ | async).username === profileActived ? 'visible' : 'hidden'}" [icon]="faPenSquare" size="lg" (click)="edit()"></fa-icon>
            </div>

            <app-dynamic-form *ngIf="editMode"   (formSubmit)="newData($event)" [formData]="formData" [editData]='aboutMe' [formTitle]="'Datos Personales'" (cancel)="edit()"></app-dynamic-form>
            <app-dynamic-form *ngIf="editPicture"  (formSubmit)="newPic($event)" [formData]="addPhotoForm" [formTitle]="'Elija una nueva foto/imagen'" (cancel)="cancelPic()"></app-dynamic-form>

            <div class="about-me-container">
                
                <div class="profile">
                
                        <div><span class="name">{{aboutMe?.name + ' ' + aboutMe?.lastName}}</span></div>
                        <div><span class="title">{{aboutMe?.title}}</span></div>
                        <div><span class="location">{{aboutMe?.country + ', ' + aboutMe?.state + ', ' + aboutMe?.city}}</span></div>
                
                </div>
                <div class="about-me">
                    <span>Sobre mí</span>   
                    <p>{{aboutMe?.info || "Escriba algo sobre usted aquí"}}</p>
                </div>
                <div id="buttons-aboutme">
                    <app-button *ngIf="(logged$ | async).username === profileActived" class="section-button" [name]="'Añadir Sección'" (click)="newSection()"></app-button>
                    <app-button *ngIf="!(logged$ | async).username || (logged$ | async).username !== profileActived" class="contact-button" [name]="'Mensaje'" (click)="openContact()"></app-button>
                    <app-button *ngIf="areNetworks()" [ngStyle]="{'margin-left': '5px'}" class="contact-button" [name]="'Redes'" (click)="openNetworks()"></app-button>
                </div>
            </div>
        </div>
       

    </div>
    
</section>

<app-add-section *ngIf="section" (onAddSection)='addSection($event)' (cancel)="newSection()"></app-add-section>

<app-contact *ngIf="isOpenContact" (cancelEmit)="isOpenContact = !isOpenContact"></app-contact>

<app-social-networks *ngIf="isOpenNetworks" [socialNetWorks]="loadNetworks()" (cancelEmit)="isOpenNetworks = !isOpenNetworks"></app-social-networks>
