<section class="about-container">  
    
    <div class="banner"><img src="/assets/banner.png" alt=""></div>
    
    <div class="about">
        
        <div class="profile">
            <div class="profile-image"><img src="/assets/profile.png" alt=""></div>
            <div class="profile-name">Emiliano Acevedo</div>
            <div class="profile-title">Full Stack Developer Jr</div>
        </div>
        <div class="about-me">
            <h2>Sobre mí</h2>
            <p>todo sobre mi...</p>
        </div>
    </div>
    
</section>

