
                        <header class="header">
                            <div class="header-container"> 
                                <div class="logo-header">
                                    <img src="/assets/logoArgentina.png" alt="">
                                    <span>#SeProgramar</span>
                                </div>
                                <nav class="navBar">
                                    <div id="container-messages" *ngIf="(logged$ | async).username"> 
                                        <fa-icon class="icon"  [icon]="faEnvelope" (click)="openMessages()"></fa-icon>
                                        <span id="iconAlert">{{newMessages}}</span>
                                    </div>
                                    <button *ngIf="!(logged$ | async).id" (click)="login()">Login</button>
                                    <button *ngIf="(logged$ | async).id" (click)="logout()">Logout</button>
                                </nav>  
                            </div>
                        </header>

                        <app-messages></app-messages>
                        

