
.header{
    width: 100%;
    padding-left: .5%;
    padding-right: .5%;
    background-color: #273c75;
    color: white;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 20%);
    position: sticky;
    top: 0;
    z-index: 111;
    font-family: sans-serif;

}

.header-container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;

}

.logo-header{

    display: flex;
    align-items: center;
    max-height: 70px;

}

.logo-header > img{
    height: 90px;
    object-fit: cover;

}

.logo-header > span{

    font-weight: bold;
    background-color: inherit;

}

.navBar{
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}
.navBar > a {

    margin-left: 2px;
    margin-right: 2px;

}

.navBar > button{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: none;

}

.navBar > button:hover{

    cursor: pointer;
    cursor: hand;
    background-color: #a9c0fd;

}

.icon{

    color: rgb(255, 255, 255);

}

.icon:hover{

    color: #a9c0fd;

}

.navBar > button {

  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;

}
