<section class="projects">

    <div class="projects__container">
        <div class="projects__title">
            <h2>Projects</h2>
        </div>
        <article class="projects__content">
            <div class="projects__content-item">
                <div class="projects__content-item-image">
                    <img src="/assets/empty.png" alt="">
                </div>
                <a href="http://www.project.com">http://www.project.com</a>
                <div class="projects__content-item-text">
                    <h3>Project 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisi vel consectetur
                        consectetur, nisi erat euismod orci, eget consectetur erat. Nullam euismod, nisi vel consectetur
                        consectetur, nisi erat euismod orci, eget consectetur erat. Nullam euismod, nisi vel consectetur
                        consectetur, nisi erat euismod orci, eget consectetur erat. Nullam euismod, nisi vel consectetur
                        consectetur, nisi erat euismod orci, eget consectetur erat. Nullam euismod, nisi vel consectetur
                    </p>
                </div>
            </div>
        </article>
    </div>

</section>
