<div id="container-black" (click)="exit.emit()">

    <div id="container-white" (click)="$event.stopPropagation()">
        <div id="title-list">
            <h2>Mensajes</h2></div>
        <div id="title">
            <h2>{{messages[selectedMessage]?.name}}</h2>
            <!--agregar icono FaTimes-->
            <fa-icon (click)="exit.emit()" [icon]="faTimes" id="iconX"></fa-icon>
        </div>
        <div id="list-messages">
            <div    class="list-item" 
                    *ngFor="let m of messages; let i = index" 
                    (click)="selectedMessage = i; setSeen()" 
                    [ngStyle]="{'border-left' :(selectedMessage === i) ? '#376cff solid 5px' : 'transparent solid 5px', 'background-color' : selectedMessage === i ? '#b6caff' : null}"
                    (mouseover)="mouseOver = i"
                    (mouseleave)="mouseOver = null">
                    <ul>
                        <li>
                            {{m.name}}
                        </li>
                        <li class="timeMessage">
                            {{getDate(m.createdAt)}}
                        </li>
                    </ul>
                    <div id="dot" [ngStyle]="{'visibility': m.seen ? 'hidden' : 'visible'}"></div>
                    <fa-icon (click)="deleteMessage(m.id)" [icon]="faTimes" class="icon-list-item" *ngIf="i === mouseOver && m.seen"></fa-icon>
            </div>
        </div>

        <div id="view-messages">
     
           <ul *ngIf="messages[0]?.name">
                <li>
                    <strong>Email</strong>: {{messages[selectedMessage]?.email}}
                </li>
                <li>
                    <strong>Mensaje</strong>: {{messages[selectedMessage]?.message}}
                </li>
           </ul>

           <span *ngIf="!messages[0]?.name">No hay mensajes</span>
        
           <div id="spinnerLoading" *ngIf="isLoading$ | async">
               <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
           </div>
        </div>

    </div>

</div>
