<div class="input-container-exp" (click)="cancel.emit()">
    <form action="" [formGroup]="form" (click)="$event.stopPropagation()" (ngSubmit)="onSubmit()">

        <h1>Experiencia</h1>

        <div class="form-control-exp">
            <label for="">Título</label>
            <input type="text" formControlName="title">
        </div>
        <div class="form-control-exp">
            <label for="">Empresa</label>
            <input type="text" formControlName="name">
        </div>
        <div class="form-control-exp">
            <label for="">fecha de inicio</label>
            <input type="text" formControlName="initDate">
        </div>
        <div class="form-control-exp">
            <label for="">fecha final</label>
            <input type="text" formControlName="endDate">
        </div>
        <div class="form-control-exp">
            <label for="">Puesto</label>
            <input type="text" formControlName="job">
        </div>
        <div class="form-control-exp">
            <label for="">info</label>
            <textarea name="" id="" cols="20" rows="5" formControlName="info"></textarea>
        </div>
        <div class="form-footer-exp">
            <button type="submit">Guardar</button>
        </div>
    </form>
</div>
