#login-layout{
    height: 100vh;
    width: 100vw;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.login__title{

    font-weight: bold;
    color: #3958ad;
    font-family: Helvetica, Arial, sans-serif;;

}

.login__title > h1{ 
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.login__title > p{
    font-size: 1.5rem;
    font-weight: lighter;
    color: black;
}


#login-form{
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    margin-top:10%;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.container__input{
    margin: 2%;
    border-bottom: 1px solid #273c75;
    position: relative;

}

.iconUser{

    position: absolute;
    bottom: 2px;
    color: #273c75;

}

.login__input{
    position: relative;
    left: 10%;
    border: none;
    color: #3958ad;
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;

}

.iconEye{

    position: absolute;
    right: 1%;
    bottom: 2px;
    color: #273c75;
    cursor: pointer;
    cursor: hand;


}

#login-form > input::placeholder{

    color: #3958ad;
    font-weight: bold;


}

input:-webkit-autofill,
                input:-webkit-autofill:hover, 
                input:-webkit-autofill:focus{
                    -webkit-text-fill-color: #3958ad;
                    box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
                    -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
                    transition: background-color 5000s ease-in-out 0s;
}

#login-form > button{

    padding: 3% 2% 3% 2%;
    margin: 4% 0% 1% 0%;
    background-color: #3958ad;
    border: none;
    border-radius: 10px;
    width: 200px;
    color: white;
    font-weight: bold;
    font-size: calc(1rem + .2vw);
    cursor: hand;
    cursor: pointer;

}

#login-form > button:disabled{

    cursor: not-allowed;

}

#login-form > button:hover{

    background-color: #273c75;

}

#footer-login{

    color: #3958ad; 
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;


}

#passRecovery > a{

    text-decoration: none;

}

#passRecovery:hover{

    text-decoration: underline;

}

@media screen and (max-width: 700px){

    #login-layout{

        max-width: 100%;
    }

    .container__input{

       width: 90%;
       margin-top: 25px;

    }

    .container__input > fa-icon{

        font-size: 20px;
    }

    #login-form > button{
        
        width: 90%;
    }

    #footer-login{

        font-size: 20px;
    }

    #footer-login > div {

        margin-top: 10px;
    }

    
}