h1, h2, h3, h4, h5, h6{
    margin: 0;
}

h2{

    color: #3958ad;
}

#recoveryPassLayout{

    height: 100vh;
    width: 100vw;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#recoveryPassContainer{
    background-color: white;
    min-width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 8px 16px rgb(0 0 0 / 20%);

}

#recoveryPassContainer > form{
    height: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

input{
    position: relative;
    width: 250px;
    border: none;
    color: #3958ad;
    font-size: calc(1rem + .2vw);
    outline: none;

}

input[type="email"]{

    padding: 5px;
    border-radius: 10px;
    width: 300px;
    margin-top: 10px;

}

.container__input{

    width: 300px;
    position: relative;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;

}

.container__input > fa-icon{

    position: absolute;
    right: 0px;
    font-size: 20px;

}

.red{

    color: red;
}

.green{

    color: green;

}

.border-bottom{

    border: #3958ad 2px solid;

}


.padding{

    padding: 0px 10px 0px 10px;
}

button{
    background-color: #3958ad;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    cursor: hand;
    cursor: pointer;
    margin-top: 10px;   
    border-radius: 10px;
}

button:disabled{

    background-color: #7197ff;
    cursor: auto;
    box-shadow: none;
    border: solid 1px transparent;
}

#recoveryPassHeader{
    padding: 10px;
    text-align: center;
    color: white;
    width: 100%;
    background-color: #3958ad;

}

code-input{

    max-width: 300px;

}

p{

    font-size: 12px;
    margin: 0;
    color: red;
}

.doneP{

    color: #3958ad;
    font-size: 20px;

}

.doneDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media screen and (max-width: 500px){
    #recoveryPassContainer > form{

        width: 100%;
        max-width: 100%;

    }

    input{
        width: 90%;
        height: 40px;
    }

    button{

        width: 90%;

    }

    .container__input{

        padding: 5px;
        width: 90%;
        height: 40px;

    }

    .container__input > input{

        height: 20px;
    }

}