<div class="app-about-me pulse">
    <div class="banner"></div>
    <div class="about">
        <div>
            <div class="header-about">
                <div class="container-avatar">
                    <div class="card-avatar"></div>
                </div>
            </div>
            <div class="about-me-container">
                <div class="profile">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                </div>
                <div class="about-me">
                    <div class="line"></div>
                    <div class="lineAbout"></div>
                    <div class="lineAbout"></div>
                    <div class="lineAbout"></div>
                    <div class="lineAbout"></div>
                </div>
            </div>
        </div>
        <div id="buttons-aboutme"></div>
    </div>

    <div>

    </div>
</div>

<div class="app-education pulse">
            <div class="title"></div>
            <div class="education-container">
                <div class="education-item">
                    <div class="logo-exp"></div>
                    <div class="info-container">
                        <div class="header-item"></div>
                        <ul>
                            <li class="line"></li>
                            <li class="line"></li>
                            <li class="line"></li>
                            <li class="line"></li>
                            <li class="line"></li>
                        </ul>
                    </div>
                </div>
            </div>
</div>

