#button{

padding: 5px;
padding-left: 15px;
padding-right: 15px;
border-radius: 5px;
border: none;
background-color: #273c75;
color: white;
font-weight: bold;


}

#button:hover{

    background-color: #3e61c2;
    cursor: hand;
    cursor: pointer;

}