<section class="app-education">
    <div class="header-container">
        <span>Educación</span>
        <div class="header-right-container">
        </div>
    </div>
    <div class="education-container">
        <div class="education-item">
            <div class="logo-exp"><img src="/assets/empty.png" alt=""></div>
            <div class="info-container">
                <div class="header-item"><h2>Secundario Completo</h2> <app-edit-buttons></app-edit-buttons></div>
                <h3>Institución: <span>Media 31 Ex San Martín</span></h3>
                <h3>Fecha: <span>marzo 2005 - diciembre 2009</span></h3>
                <p>
                    <span>
                        <strong>Carrera:</strong>
                    </span>
                    <br>
                    <span>
                        - Secundaria
                    </span>
                </p>
            </div>
        </div>
    </div>  <!-- End of education-container -->
</section>
