<section class="app-education">
    <span>Educación</span>
    <div class="education-container">
        <div class="education-item">
            <div class="logo-exp"><img src="/assets/empty.png" alt=""></div>
            <div class="info-container">
                <div class="header-item"><h2>Secundario Completo</h2> <app-edit-buttons></app-edit-buttons></div>
                <ul>
                    <li><strong>Institución</strong>: Media 31 ex Comercial San Martín</li>
                    <li><strong>Fecha</strong>: Enero 2007 - 2010</li>
                    <li><strong>Carrera</strong>: Bachillerato en Economía y gestion de empresas </li>
                </ul>
            </div>
        </div>
    </div>  <!-- End of education-container -->
</section>
