<section class="skill-container">
    
    <div class="skill-title">
        <span>Skills</span>
    </div>

    <div class="skills-container">

        <div class="skill-item">
            <div class="skill-item-title">
                <h3>HTML</h3>
            </div>
            <round-progress [current]="25" 
                            [max]="100" 
                            [radius]="70" 
                            [stroke]="10"
                            [color]="'rgb(1, 196, 255)'"></round-progress>
        </div>

        <div class="skill-item">
            <div class="skill-item-title">
                <h3>CSS</h3>
            </div>
            <round-progress [current]="25" 
            [max]="100" 
            [radius]="70" 
            [stroke]="10"
            [color]="'rgb(1, 196, 255)'"></round-progress>
        </div>

        <div class="skill-item">
            <div class="skill-item-title">
                <h3>JavaScript</h3>
            </div>
            <round-progress [current]="25" 
            [max]="100" 
            [radius]="70" 
            [stroke]="10"
            [color]="'rgb(1, 196, 255)'"></round-progress>
        </div>

        <div class="skill-item">
            <div class="skill-item-title">
                <h3>PHP</h3>
            </div>
            <round-progress [current]="25" 
            [max]="100" 
            [radius]="70" 
            [stroke]="10"
            [color]="'rgb(1, 196, 255)'"></round-progress>
        </div>

        <div class="skill-item">
            <div class="skill-item-title">
                <h3>SQL</h3>
            </div>
            <round-progress [current]="25" 
            [max]="100" 
            [radius]="70" 
            [stroke]="10"
            [color]="'rgb(1, 196, 255)'"></round-progress>
        </div>

        <div class="skill-item">
            <div class="skill-item-title">
                <h3>Git</h3>
            </div>
            <round-progress [current]="25" 
            [max]="100" 
            [radius]="70" 
            [stroke]="10"
            [color]="'rgb(1, 196, 255)'"></round-progress>
        </div>

    </div>

</section>
