<section class="skill-container" [ngStyle]="{'display': skills ? 'block' : 'none'}">
    <span>Skills</span>
    <div class="skills-container">

        <article class="skill-item"  *ngFor="let e of skills">

            <app-dynamic-form *ngIf="e.edit" [editData]="e" [formTitle]="'Habilidades'" (cancel)="edit(e.id)" [formData]="formData"></app-dynamic-form>

            <div class="skill-item-title">
                <h3>{{e.name}}</h3>
            </div>
            <round-progress [current]=e.porcent
                            [max]="100" 
                            [radius]="70" 
                            [stroke]="10"
                            [color]="colorCircle"></round-progress>
            <app-edit-buttons *ngIf="authUser" (deleteEvent)="delete()" (editEvent)="edit(e.id)"></app-edit-buttons>
        </article>

    </div>

</section>

<app-dynamic-form *ngIf="newSection" [formTitle]="'Habilidades'" (cancel)="cancelNewForm()" [formData]="formData"></app-dynamic-form> <!-- NEW FORM -->
