<section class="skill-container" [ngStyle]="{'display': display}">
    <span>Skills</span>
    <div class="skills-container">

        <article class="skill-item"  *ngFor="let e of elements">
            <div class="skill-item-title">
                <h3>{{e.name}}</h3>
            </div>
            <round-progress [current]=e.porcent
                            [max]="100" 
                            [radius]="70" 
                            [stroke]="10"
                            [color]="colorCircle"></round-progress>
            <app-edit-buttons></app-edit-buttons>
        </article>

    </div>

</section>
