<div class="input-container-exp" (click)="cancel.emit()">
    <form action="" [formGroup]="eduForm" (click)="$event.stopPropagation()" (ngSubmit)="onSubmit()">

        <h1>Educación</h1>

        <div class="form-control-exp">
            <label for="">Título</label>
            <input type="text" formControlName="title">
        </div>
        <div class="form-control-exp">
            <label for="">institución</label>
            <input type="text" formControlName="name">
        </div>
        <div class="form-control-exp">
            <label for="">fecha de inicio</label>
            <input type="text" formControlName="initDate">
        </div>
        <div class="form-control-exp">
            <label for="">fecha final</label>
            <input type="text" formControlName="endDate">
        </div>
        <div class="form-control-exp">
            <label for="">Carrera</label>
            <input type="text" formControlName="career">
        </div>
        <div class="form-control-exp">
            <label for="">Logo</label>
            <input type="text" formControlName="logo">
        </div>
        <div class="form-footer-exp">
            <button type="submit">Guardar</button>
        </div>
    </form>
</div>
