.form-dynamic-container{

    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    min-height: fit-content;
    z-index: 1111;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    align-items: center;
    overflow: auto;
   
}

.form-dynamic-container > div{
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.form-dynamic-header > fa-icon{

    color: white;
    background-color: rgb(179, 0, 0);
    padding: 2px 4px 2px 4px;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    cursor: hand;

}

.form-dynamic-header > fa-icon:hover{

    background-color: red;

}

.form-dynamic-header{
    text-align: center;
    position: relative;
    padding: 2% 5% 2% 5%;
    width: 100%;
    min-width: 300px;
    background: #273c75;
    color: white;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 20%);

}



.form-dynamic-container > div > form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
    min-width: 300px;
    background-color: white;
    color: black;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 20%);
    


}


.form-dynamic-control{
    padding: 2% 2% 2% 2%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    margin-top: calc(0px + .1vh);
    color: #273c75;


}

.form-dynamic-control > label{

    margin-bottom: 1%;
    font-weight: bold;
  

}

.labelFile{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    font-weight: bold;
    background-color: #273c75;
    color: white;
    padding: 2px 4px 2px 4px;

}

.form-dynamic-control > input{
    border: #273c75 2px solid;
    padding: 5px;
    font-weight: bold;
    outline: none;
    height: 30px;
   
    justify-content: center;
    align-items: center;
    

}

.inputfile{
    visibility: hidden;
    position: absolute;
   

}

.container-inputfile > input[type='text']{

        outline: none;
        border: none;
        padding-left: 5px;
        font-weight: bold;
        height: 100%;

}

.container-inputfile > label{
    position: relative;
    background-color: #273c75;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;
    cursor: hand;
    cursor: pointer;

}

.container-inputfile > label > fa-icon{
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-inputfile{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border: #273c75 2px solid;
    background-color: #273c75;
}

.container-inputfile > fa-icon{
    position: absolute;
    right: 2px;
    color:rgb(122, 122, 122);
    cursor: hand;
    cursor: pointer;
}


.form-dynamic-control > input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.form-dynamic-control > textarea {
    border: #273c75 2px solid;
    padding: 5px;
    resize: none;
    overflow: auto;
    height: 100px;
    grid-column: 1/-1;
    outline: none;
    font-weight: bold;
}


.form-dynamic-footer > button {
    font-weight: bold;
    background-color:   #273c75;
    color: white;
    padding: 3% 2% 3% 2%;
    cursor: pointer;
    cursor: hand;
    border-radius: 5px;

}

.form-dynamic-footer{
    padding: 15px;
    grid-column: 1/-1;
}