<div class="form-dynamic-container">

    
    <div>

        <div class="form-dynamic-header">
            <div class="form-dynamic-header-title">
                <h1>{{formTitle}}</h1>
            </div>

            <fa-icon [icon]="faTimes" size="lg" (click)="cancel.emit()"></fa-icon>
        </div>

        <form action="" [formGroup]="myForm" (ngSubmit)="onSubmit($event)">

            <div    class="form-dynamic-control" 
                    *ngFor="let control of formData?.controls"
                    [ngStyle]="{'grid-column': control.type === 'textarea' ? '1/-1' : 'auto', 'padding' : control.type === 'textarea' ? '2% 2% 2% 2%' : '2% 4% 2% 4%'}"
                   >
                <label>{{ control.label.spanish }}</label>


                <input  *ngIf="
                                [
                                    'text',
                                    'password',
                                    'email',
                                    'number',
                                    'date',
                                    'search',
                                    'url',
                                ].includes(control.type)
                            " 
                        
                        [type]="control.type" 
                        [formControlName]="control.name" 
                        [value]="control.value"
                       
                    >

                    <div *ngIf="control.type==='file'" class="container-inputfile">
                        <input  id='{{control.name}}' 
                                [type]="control.type"
                                accept=".png, .jpg, .jpeg"
                                (change)="uploadImage($event, control.name, control.validators.sizeImage.max)">
                        <label for="{{control.name}}">Cargar</label>
                        <input  type="text"
                                [formControlName]="control.name"
                                placeholder="Cargue su foto"jh54jk
                                [value]="myForm.get('title')?.value || 'cargue imagen'"
                                readonly>
                    </div>

                <textarea 
                        *ngIf="control.type === 'textarea'"
                        [formControlName]="control.name"
                        [value]="control.value">
                </textarea>

                <p *ngIf="myForm.get(control.name)?.hasError('sizeImage')" [ngStyle]="{'color': 'red', 'font-weight' : 'bold'}">files less 512kb</p>
            </div>

            <div class="form-dynamic-footer">
                <button type="submit">Guardar</button>
            </div>  

        </form>

    </div>

</div>
