<section class="app-experience">
                    <div class="header-container">
                        <span>Experiencia Laboral</span>
                    </div>
                    <div class="experience-container">
                        <div class="experience-item">
                            <div class="logo-exp"><img src="/assets/empty.png" alt=""></div>
                            <div class="info-container">
                                <div class="header-item"><h2>Desarrollador Web</h2> <app-edit-buttons></app-edit-buttons></div>
                                <h3>Empresa: <span>Casa de la Cultura</span></h3>
                                <h3>Fecha: <span>Enero 2019 - Actualidad</span></h3>
                                <p>
                                    <span>
                                        <strong>Tareas:</strong>
                                    </span>
                                    <br>
                                    <span>
                                        - Diseño y desarrollo de páginas web
                                    </span>
                                    <br>
                                    <span>
                                        - Desarrollo de aplicaciones web
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>  <!-- End of experience-container -->
</section>
