.app-experience{

    background: white;
    width: 100%;
    max-width: 1200px;
    padding: 1.5%;
    border-radius: 20px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 20%);
    font-family: sans-serif;



}

.app-experience > div {
    width: 100%;
    height: 100%;
    display: flex;
 
}

.header-container{

    width: 100%;
    height: 100%;
    display: flex;
    row-gap: 10px;
    padding: 1%;
    justify-content: space-between;

}

.app-experience > span{

    font-size: 1.7rem;
    font-weight: bold;
    color: rgb(0 0 0 / 50%);


}


.experience-container{

    padding: 1%;
    width: 100%;

}

.experience-item{

    display: flex;
    flex-wrap: nowrap;
    width: 100%

}

.header-item{

    display: flex;
    width: 100%;
    justify-content: space-between;


}

.info-container{

    margin-left: 2%;
    width: 100%;

    
}

.info-container > ul{

        list-style: none;
        width: 90%;

}


.logo-exp{

    width: 100px;
    height: 100px;
    overflow: hidden;
    


}

.logo-exp > img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.input-container-exp{

    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    z-index: 1111;
    display: flex;
    justify-content: center;
    align-items: center;


}

.input-container-exp > form{

    padding: 2%;
    opacity: 1;
    background-color: white;


}