

<div class="registration-container">

    <div class="registration-title">
        <h1 *ngIf="!done">Crea tu cuenta en Apportfolios</h1>
        <h1 *ngIf="done">Confirmación de email</h1>
    </div>

    <form *ngIf="!done" action="" class="registration" [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-container">
            <div class="form-group" [ngStyle]="{'outline': focusInput['name'] ? Name?.errors && Name?.value ? '2px solid red' : Name?.value && !Name?.errors ? '2px solid green': '2px solid #3958ad' : Name?.value && !Name?.errors ? '2px solid green': Name?.value && Name?.errors ? '2px solid red' : '2px solid rgb(0 0 0 / 15%)'}">
                <input (focus)="focus('name')" (focusout)="focus('name')" type="text" id="name" name="name" placeholder='Nombre' class="input-registration" formControlName="name">
                <fa-icon [icon]="faCheckCircle" *ngIf="!Name?.errors && Name?.value " class="green"></fa-icon>
                <fa-icon [icon]="faTimesCircle" *ngIf="Name?.errors && Name?.value" class="red"></fa-icon>
            </div>
            <p class="text-danger"  [ngStyle]="{ 'display' : Name?.errors && Name?.value ? 'inline' : 'none'}" >3 carácteres mínimo</p>
        </div>

        <div class="form-container">
            <div class="form-group" [ngStyle]="{'outline': focusInput['lastname'] ? Lastname?.errors && Lastname?.value ? '2px solid red' : Lastname?.value && !Lastname?.errors ? '2px solid green': '2px solid #3958ad' : Lastname?.value && !Lastname?.errors ? '2px solid green': Lastname?.value && Lastname?.errors ? '2px solid red' : '2px solid rgb(0 0 0 / 15%)'}">
                <input (focus)="focus('lastname')" (focusout)="focus('lastname')" type="text" id="last_name" name="last_name" placeholder='Apellido' class="input-registration" formControlName="lastname">
                <fa-icon [icon]="faCheckCircle" *ngIf="!Lastname?.errors && Lastname?.value" class="green"></fa-icon>
                <fa-icon [icon]="faTimesCircle" *ngIf="Lastname?.errors && Lastname?.value" class="red"></fa-icon>
            </div>
            <p class="text-danger" [ngStyle]="{'display' : Lastname?.errors && Lastname?.value ? 'inline' : 'none'}">3 carácteres mínimo</p>
        </div>

        <div class="form-container">
            <div class="form-group" [ngStyle]="{'outline': focusInput['email'] ? Email?.errors && Email?.value ? '2px solid red' : Email?.value && !Email?.errors ? '2px solid green': '2px solid #3958ad' : Email?.value && !Email?.errors ? '2px solid green': Email?.value && Email?.errors ? '2px solid red' : '2px solid rgb(0 0 0 / 15%)'}">
                <input (focus)="focus('email')" (focusout)="focus('email')" type="email" id="email" name="email" placeholder='Email' class="input-registration" formControlName="email">
                <fa-icon [icon]="faCheckCircle" *ngIf="!Email?.errors && Email?.value" class="green"></fa-icon>
                <fa-icon [icon]="faTimesCircle" *ngIf="Email?.errors && Email?.value " class="red"></fa-icon>
            </div>
            <p class="text-danger" [ngStyle]="{'display' : Email?.errors && Email?.value ? 'inline' : 'none'}">Correo inválido</p>
        </div>

        <div class="form-container">
            <div class="form-group" [ngStyle]="{'outline': focusInput['country'] ? Country?.errors && Country?.value ? '2px solid red' : Country?.value && !Country?.errors ? '2px solid green': '2px solid #3958ad' : Country?.value && !Country?.errors ? '2px solid green': Country?.value && Country?.errors ? '2px solid red' : '2px solid rgb(0 0 0 / 15%)'}">
                <input (focus)="focus('country')" (focusout)="focus('country')" type="text" id="country" name="country" placeholder='País' class="input-registration" formControlName="country">
                <fa-icon [icon]="faCheckCircle" *ngIf="!Country?.errors && Country?.value " class="green"></fa-icon>
                <fa-icon [icon]="faTimesCircle" *ngIf="Country?.errors && Country?.value" class="red"></fa-icon>
            </div>
            <p class="text-danger"  [ngStyle]="{ 'display' : Country?.errors && Country?.value ? 'inline' : 'none'}" >Sólo entre 4 y 15 carácteres</p>
        </div>

        <div class="form-container">
            <div class="form-group" [ngStyle]="{'outline': focusInput['state'] ? State?.errors && State?.value ? '2px solid red' : State?.value && !State?.errors ? '2px solid green': '2px solid #3958ad' : State?.value && !State?.errors ? '2px solid green': State?.value && State?.errors ? '2px solid red' : '2px solid rgb(0 0 0 / 15%)'}">
                <input (focus)="focus('state')" (focusout)="focus('state')" type="text" id="state" name="state" placeholder='Provincia' class="input-registration" formControlName="state">
                <fa-icon [icon]="faCheckCircle" *ngIf="!State?.errors && State?.value " class="green"></fa-icon>
                <fa-icon [icon]="faTimesCircle" *ngIf="State?.errors && State?.value" class="red"></fa-icon>
            </div>
            <p class="text-danger"  [ngStyle]="{ 'display' : State?.errors && State?.value ? 'inline' : 'none'}" >Sólo entre 4 y 15 carácteres</p>
        </div>

        <div class="form-container">
            <div class="form-group" [ngStyle]="{'outline': focusInput['city'] ? City?.errors && City?.value ? '2px solid red' : City?.value && !City?.errors ? '2px solid green': '2px solid #3958ad' : City?.value && !City?.errors ? '2px solid green': City?.value && City?.errors ? '2px solid red' : '2px solid rgb(0 0 0 / 15%)'}">
                <input (focus)="focus('city')" (focusout)="focus('city')" type="text" id="city" name="city" placeholder='Ciudad' class="input-registration" formControlName="city">
                <fa-icon [icon]="faCheckCircle" *ngIf="!City?.errors && City?.value " class="green"></fa-icon>
                <fa-icon [icon]="faTimesCircle" *ngIf="City?.errors && City?.value" class="red"></fa-icon>
            </div>
            <p class="text-danger"  [ngStyle]="{ 'display' : City?.errors && City?.value ? 'inline' : 'none'}" >Sólo entre 4 y 15 carácteres</p>
        </div>

        <div class="form-container">
            <div class="form-group" [ngStyle]="{'outline': focusInput['username'] ? Username?.errors && Username?.value ? '2px solid red' : Username?.value && !Username?.errors ? '2px solid green': '2px solid #3958ad' : Username?.value && !Username?.errors ? '2px solid green': Username?.value && Username?.errors ? '2px solid red' : '2px solid rgb(0 0 0 / 15%)'}">
                <input  (focus)="focus('username')" (focusout)="focus('username')" type="text" id="login" name="login" placeholder='Usuario' class="input-registration" formControlName="username">
                <fa-icon [icon]="faCheckCircle" *ngIf="!Username?.errors && Username?.value " class="green"></fa-icon>
                <fa-icon [icon]="faTimesCircle" *ngIf="Username?.errors && Username?.touched && Username?.value" class="red"></fa-icon>
            </div>
            <p class="text-danger" [ngStyle]="{ 'display': Username?.value && Username?.invalid ? 'inline' : 'none'}">6 carácteres mínimo y 10 máximos</p>
        </div>

        <div class="form-container">
            <div class="form-group" [ngStyle]="{'outline': focusInput['password'] ? Password?.errors && Password?.value ? '2px solid red' : Password?.value && !Password?.errors ? '2px solid green': '2px solid #3958ad' : Password?.value && !Password?.errors ? '2px solid green': Password?.value && Password?.errors ? '2px solid red' : '2px solid rgb(0 0 0 / 15%)'}">
                <input (focus)="focus('password')" (focusout)="focus('password')" type="password" id="password" name="password" placeholder='Contraseña' class="input-registration" formControlName="password">
                <fa-icon [icon]="faCheckCircle" *ngIf="!Password?.errors && Password?.value" class="green"></fa-icon>
                <fa-icon [icon]="faTimesCircle" *ngIf="Password?.errors && Password?.value " class="red"></fa-icon>
            </div>
            <p class="text-danger text-pass" [ngStyle]="{'display' : Password?.errors && Password?.value ? 'inline' : 'none'}">La contraseña debe contener al menos 1 mayuscula, 1 minuscula, 1 número, 1 carácter especial y tener entre 8 y 16 carácteres</p>
        </div>

        <div class="form-container">
            <div class="form-group" [ngStyle]="{'outline': focusInput['passwordConfirm'] ? form?.hasError('notSame') && PasswordConfirm?.value ? '2px solid red' : PasswordConfirm?.value && !form?.hasError('notSame') ? '2px solid green': '2px solid #3958ad' : PasswordConfirm?.value && !form?.hasError('notSame') ? '2px solid green': PasswordConfirm?.value && form?.hasError('notSame') ?  '2px solid red' : '2px solid rgb(0 0 0 / 15%)'}">
                <input (focus)="focus('passwordConfirm')" (focusout)="focus('passwordConfirm')" type="password" id="password_confirm" name="password_confirm" placeholder='Repetir Contraseña' class="input-registration" formControlName="passwordConfirm">
                <fa-icon [icon]="faCheckCircle" *ngIf="!form?.hasError('notSame') && PasswordConfirm?.value" class="green"></fa-icon>
                <fa-icon [icon]="faTimesCircle" *ngIf="form?.hasError('notSame') && PasswordConfirm?.value" class="red"></fa-icon>
            </div>
            <p class="text-danger" [ngStyle]="{'display' : form?.hasError('notSame') && PasswordConfirm?.value ? 'inline' : 'none'}">Las contraseñas deben coincidir</p>
        </div>

        <div class="form-footer">
            <button type="submit" class="registration-button" [disabled]="loading" [ngStyle]="{'background-color': loading ? '#2b54c5' : '#273c75'}">
                <fa-icon *ngIf="loading" [icon]="faSpinner" [spin]="true"></fa-icon>
                <span *ngIf="!loading" >Registrar</span>
            </button>
        </div>
        <p class="text-danger" *ngIf="invalidForm && form?.invalid">*Complete todos los campos</p> 
        <div class="registration-footer">
            <p>¿Ya tienes una cuenta? <a [routerLink]="['/login']">Inicia sesión</a></p>
        </div>

    </form>

    <p *ngIf="done">Para poder logearse, por favor, revice su email y confirme su dirección haciendo click en el link que le hemos enviado.</p>

</div>


